#googlelogin{
    text-decoration: none;
    margin: 5%;
}
#login{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 7px;
    /* border: solid rgb(0, 0, 0) 1px; */
    border-radius: 5px;
    width: fit-content;
    font-size:25px;
    color: #939393;
    box-shadow:0.3px 0.3px 1px 0.3px #939393;
}
#login:hover{
    box-shadow:1px 1px 2px 1px #939393;
}
.login-container{
    margin-top: 0%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 h5{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: rgb(125, 126, 125);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 2rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
