<!doctype html>
<html>
<head>
    <title>front</title>
</head>
<body>
<h1>THIS IS THE MAIN PAGE </h1>


<form action='/landlord-login' method="get">
    <button type="submit">For Landlord</button>
</form><br>
<form action='/tenant-login' method="get">
    <button type="submit">For tenants</button>
</form>
</body>
</html>