<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>Create Teanant</title>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="../css/styles.min.css">-->
<!--</head>-->

<!--<body style="height: 647px;">-->
<!--    <section data-toggle="tooltip" data-bs-tooltip="" id="hero" style="width: 100%;height: 65px;font-size: 15px;font-family: 'Alegreya Sans', sans-serif;padding: -7px;filter: blur(0px);">-->
<!--        <nav class="navbar navbar-dark navbar-expand-md fixed-top border-info text-center border rounded-0 shadow-sm visible" data-toggle="tooltip" data-bs-tooltip="" style="background-color: #39424E;height: 60px;padding: 12px;color: rgb(255,255,255);">-->
<!--            <div class="container-fluid"><a class="navbar-brand" href="/landlord-landing" style="color: rgba(247,247,247,0.9);font-size: 29px;font-family: 'Archivo Black', sans-serif;">Renting System</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>-->
<!--                <div-->
<!--                    class="collapse navbar-collapse" id="navcol-1" style="color: rgb(246,243,243);margin-top: 3px;">-->
<!--                    <ul class="nav navbar-nav" style="font-size: 24px;">-->
<!--                        <li class="nav-item" role="presentation" style="background-color: #39424E;"><a class="nav-link " href="/landlord-trans?fetch=all" style="color: rgb(255,255,255);font-family: 'Alegreya Sans', sans-serif;font-size: 18px;padding: 0px;margin: 6px;margin-right: 15px;margin-top: 9px;">TRANSACTIONS</a></li>-->
<!--                        <li class="nav-item" role="presentation" style="background-color: #39424E;"><a class="nav-link active border rounded-0" href="/landlord-createTenant" style="color: rgb(249,247,247);font-family: 'Alegreya Sans', sans-serif;font-size: 18px;margin-right: 15px;filter: blur(0px);">CREATE TENANT</a></li>-->
<!--                        <li class="nav-item" role="presentation" style="background-color: #39424E;"><a class="nav-link" href="/landlord-genBill" style="color: rgb(254,254,254);font-size: 18px;font-family: 'Alegreya Sans', sans-serif;margin-right: 15px;">BILL GENERATE</a></li>-->
<!--                        <li class="nav-item" role="presentation" style="background-color: #39424E;"><a class="nav-link" href="/landlord-tenant" style="color: rgb(255,255,255);font-size: 18px;font-family: 'Alegreya Sans', sans-serif;margin-right: 15px;">TENANTS</a></li>-->
<!--                        <li class="nav-item" role="presentation" style="background-color: #39424E;"><a class="nav-link" href="/landlord-notification" style="color: rgb(255,255,255);margin-right: 15px;font-size: 18px;">NOTIFICATIONS</a></li>-->
<!--                        <li class="nav-item" role="presentation" style="background-color: #39424E;"><a class="nav-link" href="/landlord-profile" style="font-size: 18px;font-family: 'Alegreya Sans', sans-serif;">Welcome, Tarun rana&nbsp; &nbsp; &nbsp; ID: 232</a></li>-->

<!--                    </ul><a class="btn text-white border-white ml-auto" role="button" href="/landlord-profile" style="background-color: #39424e;margin-right: 38px;font-size: 23px;font-family: 'Alegreya Sans', sans-serif;padding: 4px;padding-top: 1px;padding-right: 17px;padding-bottom: 1px;padding-left: 17px;">Profile</a>-->
<!--                    <a class="btn text-white border-white" role="button" href="/landlord-logout" style="background-color: #39424e;font-size: 23px;font-family: 'Alegreya Sans', sans-serif;filter: blur(0px) grayscale(0%);padding: 0px;padding-right: 17px;padding-top: 1px;padding-left: 17px;padding-bottom: 1px;">Logout</a>-->
<!--            </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </section>-->
{{>navBarL}}
    <h1 style="width: 50%;background-repeat: no-repeat;background-color: #ffffff;font-size: 20px;margin-left: 10%;margin-top: 1%;">Dashboard&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;Create Tenant</h1>
    {{# if tenantID}}
    <div class="alert alert-info text-center text-dark shadow d-inline-block" role="alert" style="width: 50%;margin-left: 25%;">
        <span>
            <strong>New tenant created Successfully with TenantID:  {{tenantID}} <br>*Share the ID and password with correct tenant. View tenant in</strong><a class="alert-link text-black-50" href="/landlord-tenant"> Tenants</a>
        </span>
    </div>
    {{/if}}
    <div class="container shadow" style="width: 30%;margin-top: 58px;height: 80%;background-repeat: no-repeat;background-position: bottom;background-size: contain;">
        <form method="post" action="/landlord-createTenant" style="margin: 27px;margin-top: 12px;height: 273px;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration" style="height: 64px;">
                <p style="font-size: 28px;font-family: 'Archivo Black', sans-serif;line-height: 67px;letter-spacing: 0px;">Create a Tenant</p>
            </div>
                <div class="form-group">
                    <input class="form-control d-inline" type="text" name="fname" required placeholder="First Name" style="width: 45%;margin-right: 10%;"><input class="form-control d-inline" type="text" name="lname" placeholder="Last Name" style="width: 45%;"></div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" required placeholder="Email">
                <input class="form-control" type="password" name="password" required placeholder="password" style="margin-top: 15px;"></div>
            <div class="form-group" style="background-image: url('RentingLogo.png');z-index: -1;background-position:bottom;height: 100%;width: 100%;margin-top: 15px;">
                <button class="btn btn-primary btn-block" type="submit" style="width: 50%;margin-left: 25%;background-position: bottom;margin-top: 0px;">Create Tenant</button>
            </div>
    </form>
    </div>
    <p style="font-size: 14px;font-family: 'Alegreya Sans', sans-serif;line-height: 1;letter-spacing: 0px;text-align: center;">**Tenant created by you will be verifed by default but will need to update remaining details.</p>
{{>footerL}}
    <p style="font-size: 14px;font-family: 'Alegreya Sans', sans-serif;line-height: 1;letter-spacing: 0px;text-align: center;">**Share the User-ID generated and password with the tenant.</p>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="../script/script.min.js"></script>-->
<!--</body>-->

<!--</html>-->