<!doctype html>
<html lang="en">
  <head>
    <title>Renting Management System</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
  </head>
  
  <body>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <a class="navbar-brand mr-auto" href="#"><img src="logof.png" height="41" width="100"></a>
          <a href="/checktid" style="float: right;color: #FFFFFF">Click to Verify Invoice</a>
      </nav>
      <br>
      <div class="jumbotron">
           <h1 class="display-3"><i><badge class="badge">Connecting Landlord With Tenants</i></badge></h1>
          <p class="lead">Let's get Started!</p>
          <hr class="my-2">
         
             <div class="container"  >
               <div  class="row-1" >
                <div class="col-lg-6 col-sm-12">
                    <div class= " align-self-left">
                        <h1 class="display-4">For Landlord</h1>
                        <div class="card text-left bg-secondary">
                          <img class="card-img-top" src="holder.js/100px180/" alt="">
                          <div class="card-body">
                            <h4 class="card-title" style="color: whitesmoke;">Login/Signup to get Started as landlord!</h4>
                            <p class="card-text" style="color: whitesmoke;">Manage tenants , generate bills, recieve payments and numerous features within...</p>
                            <a name="" id="" class="btn btn-primary" href="/landlord-login" role="button">I'm a Landlord</a>
                          </div>
                        </div>   
                    </div>
                </div>
             </div>
                <div class="col-lg-6 col-sm-12">
                    <div class=" align-self-left">
                        <h1 class="display-4">For Tenant</h1>
                        <div class="card text-left bg-secondary">
                            <img class="card-img-top" src="holder.js/100px180/" alt="">
                            <div class="card-body">
                              <h4 class="card-title" style="color: whitesmoke;">Login/Signup to get Started as Tenant!</h4>
                              <p class="card-text" style="color: whitesmoke;">Pay bill,generate maintenance requests and many more features to unlock...</p>
                              <a name="" id="" class="btn btn-primary" href="/tenant-login" role="button">I'm a Tenant</a>
                            </div>
                          </div>   
                    </div>
                </div>
             </div>
             </div>
             
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{>footerL}}
  </body>
</html>
