<!DOCTYPE html>
<html>
    <head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
<style>
  .alert-success {
    width: 300px;
    margin-left: 39%;
}
</style> 
   </head>
<body>
<h1>  Generate bills</h1>
{{#if success}}
<div class="alert alert-success">
    <strong>Info!</strong>  {{success}}
</div>
 {{/if}}
 {{#unless success}}

<h3>Select month for which bill is to be generated</h3><br>
  <form  method="POST">
<div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1" name="selection">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select><br>
        <button type="submit" class="btn btn-primary">Generate</button>

</div>
</form>
{{/unless}}
</body>
</html>