<!DOCTYPE html>
<html>
    <head>
        <title>TEST lander page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body>
    <h3>TENANT LANDING PAGE DATA</h3>
    <h4>User Name: {{username}}  User ID: { {userid}}</h4>
<div id="main">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Values fetched</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Name </td>
            <td>Waiting..</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Id </td>
            <td>Waiting..</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Date </td>
            <td>Waiting..</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Recieved Payment COunt </td>
            <td>Waiting..</td>
            <td><table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tenant ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>Waiting</td>
                  </tr>
                </tbody>
              </table></td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td>Pending Payment Count </td>
            <td>Waiting..</td>
            <td><table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tenant ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>Waiting</td>
                  </tr>
                </tbody>
              </table></td>
          </tr>

          <tr>
            <th scope="row">7</th>
            <td>Rent metrices </td>
            <td><table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Base Rent</th>
                    <th scope="col">Waiting</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Water</th>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">Electricity</th>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">Security</th>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">Maintenance</th>
                    <td>Waiting</td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Total profit </td>
            <td>Waiting..</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Tenant count </td>
            <td>Waiting..</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>User  approval count </td>
            <td><table class="table table-striped">
                
                <tbody>
                  <tr>
                    <th scope="row">User1 </th>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">User2</th>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">User3</th>
                    <td>Waiting</td>
                  </tr>
                  <tr>
                    <th scope="row">User4</th>
                    <td>Waiting</td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
        </tbody>
      </table>
</div>
</body>
</html> 