<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mr-auto " href="/landlord-landing"><img src="logof.png" height="41" width="100"></a>
<!--    <h2 style="color: rgba(247,247,247,0.9);font-size: 29px;font-family: 'Archivo Black', sans-serif;">Renting System</h2>-->
    <button class="navbar-toggler navbar-toggler-icon d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active lead" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lead" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lead" href="#">Landlord</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link lead" href="/landlord-trans">Transactions</a>-->
<!--            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle lead" href="#" id="dropdownTransaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transactions</a>
                <div class="dropdown-menu" aria-labelledby="dropdownTransaction">
                    <a class="dropdown-item lead my-1" href="#">Payed Payment</a>
                    <a class="dropdown-item lead my-1" href="#">Pending payment </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle lead" href="#" id="dropdownTransaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notifications</a>
                <div class="dropdown-menu" aria-labelledby="dropdownTransaction">
                    
                    <a class="dropdown-item lead my-1" href="/landlord-notification?type=rec">Recived Notifications</a>
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link lead" href="/landlord-genBill">Total Bill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lead" href="/landlord-profile">Welcome, {{fname}} {{lname}}&nbsp; &nbsp; &nbsp; ID: {{id}}</a>
            </li>
        </ul>
         <form class="form-inline my-2 my-lg-0">
             <a role="button" id="createTenant" href="/landlord-logout" class="btn btn-block nav-link btn-warning bg-dark" style="color: #FFFFFF" >Log Out</a>
<!--             <button class="btn btn-outline-success my-2 my-sm-0 bg-light &lt;!&ndash;bg-danger &ndash;&gt;"  type="submit">Log Out</button>-->
         </form>
    </div>

</nav>
<header class="jumbotron bg-secondary ">
    <div class="container-fluid" >
       <div class="row row-heaer">
           <div class="col-lg-4 col-sm-12">
               <h1 class="display-4"><strong>Renting Management System</strong></h1>
               <p class="lead">We take the Responsibility to Match each tenant with a Landlord!</p>
           </div>
           <div class="d-none d-sm-block " >
               <img src="covercrop.png" >
           </div>
       </div>
   </div>
</header>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
