{{>tenantNav}}
<div class="jumbotron jumbotron-fluid" style="background-color: #FFFFFF">

    <h1 style="width: 50%;background-repeat: no-repeat;background-color: #ffffff;font-size: 20px;margin-left: 10%;margin-top: 1%;">Dashboard&nbsp;<i class="fa fa-chevron-right"></i>Notifications<i class="fa fa-chevron-right"></i>&nbsp;Message Send</h1>
    {{# if error}}
        <div role="alert" class="alert alert-danger text-center border rounded shadow justify-content-center align-items-center align-content-center align-self-center m-auto justify-content-xl-center align-items-xl-center" style="width: 35%;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span ><strong>Alert !</strong>Tenant ID you entered is <b>NOT</b> associated with you.</span></div>
    {{/if}}
    {{# if message}}
        <div role="alert" class="alert alert-success text-center border rounded shadow justify-content-center align-items-center align-content-center align-self-center m-auto justify-content-xl-center align-items-xl-center" style="width: 40%;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span ><strong>Success ! Message {{message}} successfully check in </strong><i class="fa fa-chevron-right"></i></span>
            <a class="alert-link text-success" href="/tenant-notification">notifications</a>
        </div>
    {{/if }}
    <div style="margin-top: 46px;">
        <div class="container">
            <div class="row" style="padding: 0px;">
                <div class="col-md-8" style="background-color: #E9ECEF;box-shadow: 0px 0px 15px rgb(155,160,166);border-width: 0.4px;border-style: none; margin: auto">
                    <form method="post" action="/tenant-send">
                        <textarea class="bg-light border rounded-0 border-info form-control form-control-lg" name="message" placeholder="Enter the text message" rows="5" cols="1" autofocus autocomplete="on" spellcheck="true" wrap="soft" required maxlength="600" style="margin: 8px;text-align: left;border-style: none;"></textarea>
                        <small class="form-text text-muted" style="font-size: 14px;">Send message/maintenance request to <strong>Landlord</strong>.</small>
                        <button class="btn btn-success text-left bg-success border rounded-0 d-flex float-right justify-content-between justify-content-xl-center align-items-xl-start" type="submit" style="padding: 3px;margin-bottom: 10px;text-align: justify;height: 31px;font-size: 17px;padding-bottom: -7px;">Send Message</button>
                    </form>
<!--                <div class="col-md-4">-->
<!--                    <div class="col-md-4" style="box-shadow: 0px 0px 5px;">-->
<!--                        <h4 class="text-center" style="background: var(--cyan);color: var(--light);">Sending to Landlord</h4>-->
<!--                        <p style="margin-bottom: 6px;">Name: Tarun rana</p>-->
<!--                        <p style="margin-bottom: 6px;">ID: Tarun rana</p>-->
<!--                        <p style="margin-bottom: 6px;">Mobile Number: Tarun rana</p>-->
<!--                        <p style="margin-bottom: 6px;">Email: Tarun rana</p>-->
<!--                        <p style="margin-bottom: 6px;">Address: Tarun rana</p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="row justify-content-center">
        <div>
            <p>© Copyright 2020 Renting Management System</p>
        </div>
    </div>