{{>tenantNav}}
<header class="jumbotron bg-secondary ">
    <div class="container-fluid" >
        <div class="row row-heaer">
            <div class="col-lg-4 col-sm-12">
                <h1 class="display-4"><strong>Renting Management System</strong></h1>
                <p class="lead">We take the Responsibility to Match each tenant with a Landlord!</p>
            </div>
            <div class="d-none d-sm-block " >
                <img src="tenantcover.png" >
            </div>
        </div>
    </div>
</header>